*{
	top: 0;
	left: 0;
	margin: 0;
	padding:0 ;
}
/*scrollBar*/
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
} 
::-webkit-scrollbar-thumb {
    background:#90450f; 
    border-radius: 10px;
}

/*general*/
.right{
	float: right;
}
.left{
	float: left;
}
.show{
	display: none !important;
}
a:link {
	color: black;
	text-decoration: none;
}
a:visited {
	color: black;
	text-decoration: none;
} 
label{
	color:white;
	padding: 5px;
	height: 70px;
}
.top{
	margin-top: 270px;
}
ul{
	margin: auto;
	list-style-type: none;
}
.in-block{
	display:inline-block;
}
/*page*/
html{
	background-color: khaki;
}
body{
	padding:0px 5% 10px 5%;
}
/*header*/
	header{
		position: fixed;
		width: 90%;
		margin-left: 5%;
		height: 260px;
		text-align: center;
		border-radius: 0 0 15px 15px;
		background-image:url(/css/img/rozenblum.jpg);
		background-repeat: no-repeat;
		background-size: 100% 80%;
		background-position: bottom;
	}
	.menu{
		min-height: 42px;
		text-align: center;
		position: relative;
		background-color:#90450f;
		border-radius: 15px 15px 0 0;
		text-transform: uppercase;
		padding: 5px;
	}
	.go-to{
		border: 1px solid khaki;
		border-radius: 50px;
		padding:7px 10px;
		margin:10px 5px;
	}
	.go-to:hover{
		color: khaki;
		border:1px solid black ;
	}
	.padding-list{
		padding: 10px 0px 10px 0px;
	}
	#search{
		position: relative;
		margin: auto;
		width: 500px;
		height: 100px;
	}
	.search{
		background-image: url(/css/img/search.png) ;
		background-position:center bottom;
		background-repeat: no-repeat;
		background-size: 40px 40px;
		display: block;
	}
	/*main*/
		.main-com{
			max-width: 60%;
		}
		.main-vid{
			border-radius: 15px;
			max-width: 100%;
			min-width: 95%;
		}
		.list{
			width: 39%;
			background-color:white;
			float: right;
			border-radius: 15px;
		}
		.vid-cover{
			border-radius: 15px;
			margin:  2.5%  auto 2.5% auto;
			box-shadow: 2px 2px;
			width: 90%;
			height: 100px;
			padding: 5px;
			background-color: lightgrey;
		}
		.vid-cover:hover{
			width: 95%;
			height: 110px;
		}
		.list-vid{
			max-width: 60%;
			height: 100%;
			border-radius: 15px;
		}
		.comments{
			border-radius: 15px;
			padding: 5px;
			margin:30px auto 10px auto;
			min-width: 85%;
			max-width: 90%;
			background-color:#90450f ;
		}
		.comment{
			margin:5px ;
			padding: 2px;
			border-radius: 15px;
			max-width: 80%;
			background-color: white;
			float: none;
		}
		.add-comment{
			position: relative;
			overflow: hidden;
			text-align: center;
			margin-top: 5px;
			background-color: khaki;
			padding: 10px;
			border-radius: 15px;
			bottom: 0;
		}
		.inputs{
			width: 40%;
		}
		input{
			margin: auto auto 5px auto;
			width: 100%;
		}
		textarea{
			position: relative;
			max-width: 60%;
			min-width: 50%;
			min-height: 120px;
			word-wrap: break-word;
		}
		.send-btn{
			border-radius: 50px;
			padding:5px 20px;
			margin:auto ;
			background-color: lightgray;
		}
		.send-btn:hover{
			background-color: rgb(116, 116, 116);
		}
		.ifAddCom{
			padding: 5px;
			text-align: center;
		}
		.switch-bar{
			display: none;
		}
		.mobile-menu{
			display: none;
		}
		.lines{
			display: none;
		}
		@media all and (max-width:860px){
			.main-menu{
				display: none;
			}
			.mobile-menu{
				padding: 10px;
				display:block;
				position: fixed ;
				background-color: khaki ;
				width: 70%;
				height: 100%;
				border-radius: 15px;
			}
			.ka-mobile-menu{
				padding: 10px;
				display:block;
				background-color:#90450f;
				border-radius: 15px;
			}
			.menu-list{
				padding: 15px 0px;
			}
			.go-to{
				font-size: 30px;
				padding: 5px 20px;
			}
			.lines{
				display:block;
				color: honeydew;
				background-repeat: no-repeat;
				background-size: 40px 40px;
				height: 40px;
				width: 40px;
				padding:auto;
				background-image: url(/css/img/open-menu.svg);
			}
			.x{
				display:block;
				background-image: url(/css/img/x.png) ;
				background-repeat: no-repeat;
				background-size: 40px 40px;
				height: 40px;
				width: 40px;
				border-radius: 50px;
			}
			.list{
				display: none;
			}
			.main-com{
				background-color: khaki;
				margin:auto auto auto 5%;
				max-width: 90%;
				min-width: 90%;
			}
			.main-vid{
				border-radius: 15px;
				width: 100%;
			}
			.comments{
				float: right;
			}
			.switch-bar{
				text-align: center;
				display: block;
				margin-top: 10px;
				padding: 2px 5px;
				color: khaki;
				background-color:#90450f;
				max-width: 48%;
				min-width: 45%;
				border-radius: 15px;
			}
			.phone-list{
				margin:30px auto 10px auto;
				float:left;
				background-color:white;
				border-radius: 15px;
				width: 80%;
			}
		}