*{
	top: 0;
	left: 0;
	bottom: 0;
	margin: 0;
	padding:0 ;
}
:root{
    --base:#f0e68c;
	--secondery:#90450f;
	--third:#FFFFFF;
    --pick:url("img/rozenblum.jpg");
}
.pick{
	width: 90%;
	margin-left: 5%;
	height: 200px;
	text-align: center;
	background: var(--base);
	background-image:var(--pick);
	background-repeat: no-repeat;
	background-size: 100% 80%;
}
/*bar*/
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
} 
::-webkit-scrollbar-thumb {
    background: var(--secondery);
    border-radius: 10px;
}
/*page*/
html{
	background: var(--base);
}
body{
	width: 90%;
	margin: auto;
}
a:link {
	color: black;
	text-decoration: none;
}
a:visited {
	color: black;
	text-decoration: none;
}
a:hover{
	color: var(--base);
} 
.show{
	display: none !important;
}
.right{
	float: right;
}
.left{
	float: left;
}
.plus{
	background-image: url(/css/img/plus.png) ;
	background-position:center bottom;
	background-repeat: no-repeat;
	background-size: 40px 40px;
	display: block;
}
.minus{
	background-image: url(/css/img/minus.jpg);
	background-position:center bottom;
	background-repeat: no-repeat;
	background-size: 40px 40px;
	display: block;
}
form{
	width: 40%;
	margin: auto;
}
.change{
	width: 30%;
}
ul{
	margin: auto;
	margin-bottom: 0px;
	display:inline-block;
	list-style-type: none;
	text-align: center;
	max-height: 270px;
}
li{
	float: left;
}
h2{
	margin: 10px;
}
.top{
	margin-top: 210px;
}
	/*header*/
	.header{
		position: fixed;
		width: 90%;
		margin-left: 5%;
		height: 200px;
		text-align: center;
		background: var(--base);
		background-image:var(--pick);
		background-repeat: no-repeat;
		background-size: 100% 80%;
		background-position: bottom;
	}
	.menu{
		min-height: 42px;
		text-align: center;
		position: relative;
		background: var(--secondery);
		border-radius: 15px 15px 0 0;
		text-transform: uppercase;
		padding: 5px;
	}
	.go-to{
		border: 1px solid var(--base);
		border-radius: 50px;
		padding:7px 10px;
		margin:10px 5px;
	}
	.go-to:hover{
		color: var(--base);
		border:1px solid black ;
	}
	.padding{
		padding: 10px  0px;
	}
	label{
		padding: 5px;
		height: 70px;
	}
	#search{
		position: relative;
		margin: auto;
		width: 500px;
		height: 100px;
	}
	.search{
		background-image: url(/css/img/search.png) ;
		background-position:center bottom;
		background-repeat: no-repeat;
		background-size: 40px 40px;
		display: block;
	}
	/*main*/
	main{
		margin-bottom:5px ;
		bottom: 1px;
		background: var(--base);
	}
	.up-down-left-right{
		height: 40px;
		width: 40px;
		border-radius: 50px;
	}
		/*title*/
		.title{
			text-align: center;
			border: 1px solid black;
			border-radius: 15px;
			background: var(--secondery);
			margin-bottom: 10px;
		}
		h3{
			color: var(--third);
			text-align: center;
			padding: 15px;
		}
		input{
			margin:15px ;
		}
		.up-down{
			margin-right: 10px;
			margin-top: 5px;
		}
		.down{
			background-image: url(/css/img/down.png) ;
			background-repeat: no-repeat;
			background-size: 40px 40px;
		}
		.up{
			background-image: url(/css/img/up.png);
			background-repeat: no-repeat;
			background-size: 40px 40px;
		}
			/*videos*/
			.vids{
				width: 90%;
				margin: auto;
			}
			.videos{
				overflow: hidden;
				max-height:270px ;
				text-align: center;
				background: var(--base);
				white-space: nowrap;
				padding: 10px;
			}
			.left-right{
				margin-top: 100px;
			}
			.btn-left{
				float: left;
				background-image: url(/css/img/left.png) ;
				background-repeat: no-repeat;
				background-size: 40px 40px;
				display: block;
			}
			.btn-right{
				float: right ;
				background-image: url(/css/img/right.png) ;
				background-repeat: no-repeat;
				background-size: 40px 40px;
				display: block;
			}
			.vid-cover{
				background-color:  var(--third);
				width: 130px;
				height: 250px;
				margin: 9px;
				padding: 5px;
				border-radius: 15px;
			}
			.vid-cover:hover{
				width: 150px;
				height: 270px;
				margin: 5px;
				padding: 0px;
			}
			.picture{
				height: 50%;
				width: 95%;
				margin: 20px auto;
				background-image: url("img/gross.jpg");
				background-repeat: no-repeat;
				background-size: 100%;
			}
			video{
				height: 40%;
				width: 95%;
				margin-top: 10px;
				background-color: black;
				border: 1px solid black;
			}
			.black{
				background-color: black;
			}
			.add{
				background-image: url(/css/img/plus.png) ;
				background-repeat: no-repeat;
				background-size: 40px 40px;
				display: block;
				margin: 80px auto auto auto;
			}
			.mobile-menu{
				display:none;
			}
	/*footer*/
	footer{
		height: 100px;
		margin-top: 5px;
		background-color: gray;
		color: var(--third);
	}
@media all and (max-width:950px){
	.main-menu{
		display: none;
	}
	.mobile-menu{
		padding: 10px;
		display:block;
		position: fixed ;
		background: var(--base);
		width: 70%;
		height: 100%;
		border-radius: 15px;
	}
	.ka-mobile-menu{
		padding: 10px;
		display:block;
		background-color:#90450f;
		border-radius: 15px;
	}
	.lines{
		display:inline-block;
		color: honeydew;
		background-repeat: no-repeat;
		background-size: 40px 40px;
		height: 40px;
		width: 40px;
		padding:auto;
		background-image: url(/css/img/open-menu.svg);
	}
	.x{
		display:inline-block;
		background-image: url(/css/img/x.png) ;
		background-repeat: no-repeat;
		background-size: 40px 40px;
		height: 40px;
		width: 40px;
		border-radius: 50px;
	}
	.menu-list{
		padding: 15px 0px;
	}
	.go-to{
		font-size: 30px;
		padding: 5px 20px;
	}
	.videos{
		/* TODO make shure scrolles horizontaly */
		overflow: scroll;
	}
	.left-right{
		display: none;
	}
	li{
		text-decoration: none;
		display:inline-block;
	}
}