*{
    padding: 0;
    margin: 0;
    top:0;
    left:0;
}
:root{
    --base:#f0e68c;
	--secondery:#90450f;
}
a{
    color: var(--secondery);
    text-decoration: none;
}
html{
    background-color: var(--base);
}
header{
    position: fixed;
    background-color:var(--secondery) ;
    padding: 1%;
    width: 100%;
    text-align: center;
}
main{
    width: 80%;
    margin:35vh auto ;
}
.info{
    text-align: center;
    min-width: 40%;
    max-width: 50%;
    margin: auto;
}
.enter{
    margin-bottom: 5%;
    border-radius: 25px;
}
.information{
    width: 100%;
}
.left{
    float: left; 
}
.right{
    float: right;
}
input {
    font-size:20px;
}
@media all and (max-width:540px){
    main{
        width: 100%;
    }
    .info{
        width: 100%;
        float: none;
    }
    #description{
        display: none;
    }
}